In [1]:
######################################################################################
#  RUT-SOM-DATA-PT-06-2020-U-C                                          Douglas High #
#   Pandas Challenge                                                    July 6, 2020 #
#      >PyCitySchools                                                                #
#   - merge school and student input files (csv).                                    #
#   - create nine dataframes looking at standardized math and reading test scores.   #
######################################################################################

In [1]:
###################################
#00  Set up I/O  & Merge Tables   #
###################################
import pandas as pd
import warnings; warnings.simplefilter('ignore')

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
#school_data_complete.head()

In [2]:
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [3]:
student_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [3]:
##############################################################
#01              Distric Summary                             #
#  - extract summary information from complete df's          #
#  - calculate % of students passing tests (70% and above)   #
#    (_pss_math/read/both df's used in subsequent steps)     #
#  - create dataframe of summary information                 #
##############################################################
total_schools = school_data["school_name"].count()
total_students = student_data["Student ID"].count()
total_budget = school_data["budget"].sum()

total_avg_math = round(school_data_complete["math_score"].mean(),2)
total_avg_read = round(school_data_complete["reading_score"].mean(),2)

total_pss_math_df = school_data_complete[school_data_complete["math_score"] >= 70]
total_pss_read_df = school_data_complete[school_data_complete["reading_score"] >= 70]
total_pss_both_df = school_data_complete[(school_data_complete["reading_score"] >= 70) &
                                      (school_data_complete["math_score"] >= 70)]

total_pss_math = total_pss_math_df["Student ID"].count()
total_pss_read = total_pss_read_df["Student ID"].count()
total_pss_both = total_pss_both_df["Student ID"].count()

total_pss_math_per = round((total_pss_math/total_students)*100,2)
total_pss_read_per = round((total_pss_read/total_students)*100,2)
total_pss_both_per = round((total_pss_both/total_students)*100,2)

total_summary_df = pd.DataFrame({"Total Schools":[total_schools],"Total Students":[total_students],
                                 "Total Budget":[total_budget],"Avg Math Score":[total_avg_math],
                                 "Avg Reading Score":[total_avg_read],"Passed Math":[total_pss_math_per],
                                 "Passed Reading":[total_pss_read_per],"Passed Both":[total_pss_both_per]})

total_summary_df["Total Budget"] = total_summary_df["Total Budget"].astype(float).map("${:,.0f}".format)
total_summary_df["Total Students"] = total_summary_df["Total Students"].astype(int).map("{:,}".format)
total_summary_df["Passed Math"] = total_summary_df["Passed Math"].astype(float).map("{:.2f}%".format)
total_summary_df["Passed Reading"] = total_summary_df["Passed Reading"].astype(float).map("{:.2f}%".format)
total_summary_df["Passed Both"] = total_summary_df["Passed Both"].astype(float).map("{:.2f}%".format)

print('\033[1m' + " " *29 + "Standardized Testing Summary of District Schools")
total_summary_df

                             Standardized Testing Summary of District Schools

,Total Schools,Total Students,Total Budget,Avg Math Score,Avg Reading Score,Passed Math,Passed Reading,Passed Both
0,15,"39,170","$24,649,428",78.99,81.88,74.98%,85.81%,65.17%

In [5]:
##############################################################
#02               School Summary                             #
#  - gather statistics, grouped by school from complete df   #
#  - calculate % of students passing tests                   #
#  - create dataframe of summary information                 #
##############################################################
schl_name_grp = school_data_complete.groupby("school_name")

schl_students = schl_name_grp["Student ID"].count()
schl_budget = schl_name_grp["budget"].mean()
schl_budget_stud = schl_budget/schl_students
schl_type = [school[0] for school in schl_name_grp["type"].unique()]
schl_math_tot = schl_name_grp["math_score"].sum()
schl_read_tot = schl_name_grp["reading_score"].sum()
schl_math_avg = round(schl_name_grp["math_score"].mean(),2)
schl_read_avg = round(schl_name_grp["reading_score"].mean(),2)

schl_pss_math = total_pss_math_df.groupby("school_name")["Student ID"].count()
schl_pss_read = total_pss_read_df.groupby("school_name")["Student ID"].count()
schl_pss_both = total_pss_both_df.groupby("school_name")["Student ID"].count()

schl_pss_math_per = round((schl_pss_math/schl_students)*100,2)
schl_pss_read_per = round((schl_pss_read/schl_students)*100,2)
schl_pss_both_per = round((schl_pss_both/schl_students)*100,2)

schl_summary_df = pd.DataFrame({"Type": schl_type,"Student Count": schl_students,
                                "Budget":schl_budget, "Per Student": schl_budget_stud,
                                "Avg Math": schl_math_avg, "Avg Read": schl_read_avg, "Passed Math": schl_pss_math_per,
                                "Passed Reading": schl_pss_read_per, "Passed Both": schl_pss_both_per})

schl_summary_df["Budget"] = schl_summary_df["Budget"].astype(float).map("${:,.0f}".format)
schl_summary_df["Per Student"] = schl_summary_df["Per Student"].astype(float).map("${:,.0f}".format)
schl_summary_df["Passed Math"] = schl_summary_df["Passed Math"].astype(float).map("{:.2f}%".format)
schl_summary_df["Passed Reading"] = schl_summary_df["Passed Reading"].astype(float).map("{:.2f}%".format)
schl_summary_df["Passed Both"] = schl_summary_df["Passed Both"].astype(float).map("{:.2f}%".format)

print('\033[1m' + " " *40 + "Standardized Testing Summary by School")
schl_summary_df
schl_math_avg

                                        Standardized Testing Summary by School

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [ ]:
##########################################
#03             Top 5                    #
#  - produce top five schools based on   #
#     % of students passing both exams   #
##########################################
top_schools = schl_summary_df.sort_values(["Passed Both"], ascending = False)  

print('\033[1m' + " " *33 + "Standardized Testing Summary for Top 5 Schools")
top_schools.head(5)

In [ ]:
#############################################
#04             Bottom 5                    #
#  - produce bottom five schools based on   #
#     % of students passing both exams      #
#############################################
bottom_schls = schl_summary_df.sort_values("Passed Both")    

print('\033[1m' + " " *31 + "Standardized Testing Summary for Bottom 5 Schools")
bottom_schls.head(5)

In [ ]:
############################################
#05        Average School Math             #
#  - within each grade, group by schools   #
#     and find mean of math scores         #
#  - create dataframe of avg math scores   #
############################################
schl_math_9th = round(school_data_complete.loc[school_data_complete["grade"] == "9th"].
                                                                     groupby("school_name")["math_score"].mean(),2)
schl_math_10th = round(school_data_complete.loc[school_data_complete["grade"] == "10th"].
                                                                     groupby("school_name")["math_score"].mean(),2)
schl_math_11th = round(school_data_complete.loc[school_data_complete["grade"] == "11th"].
                                                                     groupby("school_name")["math_score"].mean(),2)
schl_math_12th = round(school_data_complete.loc[school_data_complete["grade"] == "12th"].
                                                                     groupby("school_name")["math_score"].mean(),2)

schl_math_year_df =pd.DataFrame({"9th Grade": schl_math_9th, "10th Grade": schl_math_10th,
                                   "11th Grade": schl_math_11th, "12th Grade": schl_math_12th})

print('\033[1m' + "      Standardized Math Test Average Scores by Grade")
schl_math_year_df

In [ ]:
###############################################
#06      Average School Reading               #
#  - within each grade, group by schools      #
#     and find mean of reading scores         #
#  - create dataframe of avg reading scores   #
###############################################
schl_read_9th = round(school_data_complete.loc[school_data_complete["grade"] == "9th"].
                                                                     groupby("school_name")["reading_score"].mean(),2)
schl_read_10th = round(school_data_complete.loc[school_data_complete["grade"] == "10th"].
                                                                     groupby("school_name")["reading_score"].mean(),2)
schl_read_11th = round(school_data_complete.loc[school_data_complete["grade"] == "11th"].
                                                                     groupby("school_name")["reading_score"].mean(),2)
schl_read_12th = round(school_data_complete.loc[school_data_complete["grade"] == "12th"].
                                                                     groupby("school_name")["reading_score"].mean(),2)

schl_read_year_df =pd.DataFrame({"9th Grade": schl_read_9th, "10th Grade": schl_read_10th,
                                   "11th Grade": schl_read_11th, "12th Grade": schl_read_12th})

print('\033[1m' + "    Standardized Reading Test Average Scores by Grade")
schl_read_year_df

In [ ]:
#####################################################################
#07               Budget Range Statisctics                          #
#  - s/u bins and labels for per student budget allocation          #
#  - add column to 4 df's created in 01..District Summary section   #
#  - extract statistics and calculate percentages                   #
#####################################################################
stud_bud_bins = [575, 599, 629, 650, 661]
stud_bud_labels = ["$575 to 599", "$600 to 629", "$630 to 649", "$650 to 660"]

school_data_complete["budget per student"] = pd.cut(school_data_complete["budget"]/school_data_complete["size"],
                                                                            stud_bud_bins, labels = stud_bud_labels) 
total_pss_math_df["budget per student"] = pd.cut(total_pss_math_df["budget"]/total_pss_math_df["size"],
                                                                            stud_bud_bins, labels = stud_bud_labels) 
total_pss_read_df["budget per student"] = pd.cut(total_pss_read_df["budget"]/total_pss_read_df["size"],
                                                                            stud_bud_bins, labels = stud_bud_labels) 
total_pss_both_df["budget per student"] = pd.cut(total_pss_both_df["budget"]/total_pss_both_df["size"],
                                                                            stud_bud_bins, labels = stud_bud_labels) 

stud_bud_avg_math = round(school_data_complete.groupby("budget per student")["math_score"].mean(),2)
stud_bud_avg_read = round(school_data_complete.groupby("budget per student")["reading_score"].mean(),2)

stud_bud_students = school_data_complete.groupby("budget per student")["Student ID"].count()
stud_bud_pss_math = total_pss_math_df.groupby("budget per student")["Student ID"].count()
stud_bud_pss_read = total_pss_read_df.groupby("budget per student")["Student ID"].count()
stud_bud_pss_both = total_pss_both_df.groupby("budget per student")["Student ID"].count()

stud_bud_pss_math_per = round((stud_bud_pss_math/stud_bud_students)*100,2)
stud_bud_pss_read_per = round((stud_bud_pss_read/stud_bud_students)*100,2)
stud_bud_pss_both_per = round((stud_bud_pss_both/stud_bud_students)*100,2)

stud_bud_summary_df = pd.DataFrame({"Avg Math Score": stud_bud_avg_math, "Avg Reading Score":stud_bud_avg_read, 
                                    "Passed Math": stud_bud_pss_math_per, "Passed Reading":stud_bud_pss_read_per, 
                                    "Passed Both": stud_bud_pss_both_per})

stud_bud_summary_df["Passed Math"] = stud_bud_summary_df["Passed Math"].astype(float).map("{:.2f}%".format)
stud_bud_summary_df["Passed Reading"] = stud_bud_summary_df["Passed Reading"].astype(float).map("{:.2f}%".format)
stud_bud_summary_df["Passed Both"] = stud_bud_summary_df["Passed Both"].astype(float).map("{:.2f}%".format)

print('\033[1m' + "            Standardized Testing Summary by Per Student Budget Ranges")
stud_bud_summary_df

In [ ]:
#####################################################################
#08           School Size Statistics                                #
#  - s/u bins and labels for student sizes                          #
#  - add column to 4 df's created in 01..District Summary section   #
#  - extract statistics and calculate percentages                   #
#####################################################################
schl_size_bins = [400,1799,3599,5000]
schl_size_labels = ["400 - 1799", "1800 - 3599", "3600 - 5000"]

school_data_complete["School Size"] = pd.cut(school_data_complete["size"], schl_size_bins, labels = schl_size_labels) 
total_pss_math_df["School Size"] = pd.cut(total_pss_math_df["size"], schl_size_bins, labels = schl_size_labels) 
total_pss_read_df["School Size"] = pd.cut(total_pss_read_df["size"], schl_size_bins, labels = schl_size_labels) 
total_pss_both_df["School Size"] = pd.cut(total_pss_both_df["size"], schl_size_bins, labels = schl_size_labels) 

schl_size_avg_math = round(school_data_complete.groupby("School Size")["math_score"].mean(),2)
schl_size_avg_read = round(school_data_complete.groupby("School Size")["reading_score"].mean(),2)
schl_size_students = school_data_complete.groupby("School Size")["Student ID"].count()
schl_size_pss_math = total_pss_math_df.groupby("School Size")["Student ID"].count()
schl_size_pss_read = total_pss_read_df.groupby("School Size")["Student ID"].count()
schl_size_pss_both = total_pss_both_df.groupby("School Size")["Student ID"].count()

schl_size_pss_math_per = round((schl_size_pss_math/schl_size_students)*100,2)
schl_size_pss_read_per = round((schl_size_pss_read/schl_size_students)*100,2)
schl_size_pss_both_per = round((schl_size_pss_both/schl_size_students)*100,2)

schl_size_summary_df = pd.DataFrame({"Avg Math Score": schl_size_avg_math, "Avg Reading Score":schl_size_avg_read, 
                                       "Passed Math": schl_size_pss_math_per, "Passed Reading":schl_size_pss_read_per, 
                                       "Passed Both": schl_size_pss_both_per})

schl_size_summary_df["Passed Math"] = schl_size_summary_df["Passed Math"].astype(float).map("{:.2f}%".format)
schl_size_summary_df["Passed Reading"] = schl_size_summary_df["Passed Reading"].astype(float).map("{:.2f}%".format)
schl_size_summary_df["Passed Both"] = schl_size_summary_df["Passed Both"].astype(float).map("{:.2f}%".format)

print('\033[1m' + "               Standardized Testing Summary by School Size Ranges")
schl_size_summary_df

In [ ]:
#####################################################
#09          School Type Statisticscs               #
#  - group schools by type                          #
#  - extract statistics and calculate percentages   #
#####################################################
schl_type_avg_math = round(school_data_complete.groupby("type")["math_score"].mean(),2)
schl_type_avg_read = round(school_data_complete.groupby("type")["reading_score"].mean(),2)
schl_type_students = school_data_complete.groupby("type")["Student ID"].count()
schl_type_pss_math = total_pss_math_df.groupby("type")["Student ID"].count()
schl_type_pss_read = total_pss_read_df.groupby("type")["Student ID"].count()
schl_type_pss_both = total_pss_both_df.groupby("type")["Student ID"].count()

schl_type_pss_math_per = round((schl_type_pss_math/schl_type_students)*100,2)
schl_type_pss_read_per = round((schl_type_pss_read/schl_type_students)*100,2)
schl_type_pss_both_per = round((schl_type_pss_both/schl_type_students)*100,2)

schl_type_summary_df = pd.DataFrame({"Avg Math Score": schl_type_avg_math, "Avg Reading Score":schl_type_avg_read, 
                                       "Passed Math": schl_type_pss_math_per, "Passed Reading":schl_type_pss_read_per, 
                                       "Passed Both": schl_type_pss_both_per})

schl_type_summary_df["Passed Math"] = schl_type_summary_df["Passed Math"].astype(float).map("{:.2f}%".format)
schl_type_summary_df["Passed Reading"] = schl_type_summary_df["Passed Reading"].astype(float).map("{:.2f}%".format)
schl_type_summary_df["Passed Both"] = schl_type_summary_df["Passed Both"].astype(float).map("{:.2f}%".format)

print('\033[1m' + "                Standardized Testing Summary by School Type")
schl_type_summary_df